.Track {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  flex: 1 0 auto;
  cursor: pointer; 
  transition: color .25s;
  font-size: 1.05rem;
  padding: .5rem;
}

.Track-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
}

.Track-action:hover {
  color: rgba(265, 265, 265, .5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 72px;
  word-wrap: break-word;
}

.Track-information h3 {
  margin-bottom: .22rem;
  word-wrap: break-word;
}

.Track-information p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
  word-wrap: break-word;
}

// .Track button {
//   background-color: #010c3f;
// }